*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: #3A4D53;
}
main{
    width: 960px;
    height: auto;
    margin: 0px auto;
}
header img{
    margin-top: 10px;
    margin-left: 50px;
}
nav{
    width: 940px;
    height: 48px;
    background-image: url(images/nav-bg.png);
    margin-left: 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}nav ul li a{
    display: block;
    width: 118px;
    height: 48px;
    border-right: 1px solid #3A4D53;
    color: #6c8b93;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: white;
}
.services{
    width: 940px;
    height: 270px;
    background:linear-gradient(#4d646c,#3A4D53);
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}
.left-side{
    width: 470px;
    height: 270px;
    position: relative;
}
h3{
    color: #95b613;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
}
.p1{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;

}
.p2{
    position: absolute;
    left: 50px;
    bottom: 15px;
}

.right-side{
    width: 470px;
    height: 270px;
    position: relative;
}
.p3{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 250px;
}
.img1{
    position: absolute;
    top: 30px;
    right: 0;
}
.right-side ul{
    position: absolute;
    left: 50px;
    bottom: 10px;
    color: #fff;
    list-style: none;
}
.right-side ul li{
    background-image: url(images/check.png) ;
    background-repeat: no-repeat;
    padding-left: 25px;
    line-height: 20px;
    margin-bottom: 5px;
}
.img2{
    position: absolute;
    top: 10px;
    right: -13px;
}
.img3{
    position: absolute;
    top: 80px;
    right: 20px;
}
.h-spe{
    width: 699px;
    height: 2px;
    background-image: url(images/H-Separator.png);
    position: relative;
    margin:5px auto;
}
.offer{
    width: 940px;
    height: 200px;
    background: linear-gradient(#3A4D53,#4d646c);
    position: relative;
    margin-left: 10px;
}
.offer .p1{
    width: 800px;
}
.offer img{
    position: absolute;
    right: 2px;
    bottom: 5px;
}
footer{
    width: 940px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
footer div{
    display: flex;
}
footer div p{
    border-right: 1px solid white;
    color: white;
    font-weight: 200;
    width: 80px;
    padding-right: 5px;
    text-align: center;
    font-size: 14px;
}
.p4{
    font-size: 14px;
    color: white;
}
.p5{
    font-size: 14px;
    color: white;
}
.p4 span{
    color: #95b613;
}

